*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding: 0.20px;
}
body{
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(10, 17, 36);
}
.big-card{
    width: 600px;
    height: 400px;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.toxir{
    width: 200px;
    margin-top: 20px;
    border: 2px solid rgb(50, 205, 179);
    border-radius: 5px;
    margin-left: 30px;
}
.text{
    font-weight: 600;
    font-size: 25px;
    color: brown;
    margin-left: 30px;
}
span{
    color: cadetblue;
    cursor: pointer;
}
span:hover{
    font-size: 30px;
    color: rgb(39, 39, 39);
    transition: 1s;
    text-shadow: 10px 10px 10px  rgb(1, 1, 1);
}
.s:hover{
    font-size: 30px;
    color: rgb(39, 39, 39);
    transition: 1s;
    text-shadow: 10px 10px 10px  rgb(1, 1, 1);
}
.s{
    color: cadetblue;
    cursor: pointer;
}
.text2{
    font-weight: 600;
    font-size: 25px;
    color: brown;
    margin-left: 30px;
}
.y{
    color: cadetblue;
    cursor: pointer;
}
.yosh{
    font-size: 25px;
    font-weight: 600;
    color: brown;
    margin-left: 30px;
}
.t{
    font-size: 25px;
    color: brown;
    font-weight: 600;
    margin-left: 30px;
}
.span{
    color: cadetblue;
    cursor: pointer;
}
.span:hover{
    font-size: 30px;
    color: rgb(39, 39, 39);
    transition: 1s;
    text-shadow: 10px 10px 10px  rgb(1, 1, 1);
}
.adres{
    font-size: 25px;
    font-weight: 600;
    margin-left: 30px;
    color: brown;
}
.adres2{
    color: cadetblue;
    cursor: pointer;
}
.adres2:hover{
    font-size: 30px;
    color: rgb(39, 39, 39);
    transition: 1s;
    text-shadow: 10px 10px 10px  rgb(1, 1, 1);
}
.shahar{
    font-size: 25px;
    font-weight: 600;
    color: brown;
    margin-left: 30px;
}
.t2{
    color: cadetblue;
    cursor: pointer;
}
.t2:hover{
    font-size: 30px;
    color: rgb(39, 39, 39);
    transition: 1s;
    text-shadow: 10px 10px 10px  rgb(1, 1, 1);
}
.pasport{
    margin-left: 220px;
    margin-top: 100px;
}
.toxir{
    position: absolute;
    margin-top: 120px;
    margin-left: 30px;
}
.inf{
    font-size: 30px;
    margin-left: 190px;
    margin-right: auto;
    margin-top: 20px;
    position: absolute;
    color: rgb(59, 115, 160);
}
.big-card:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px rgb(206, 204, 204);
    transition: 0.2s;
}